{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explore</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>
    <script src="https://kit.fontawesome.com/084cdff28b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-3 mb-3">
        <ul class="nav nav-pills justify-content-center mb-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/saved">Saved</a>
            </li>
          </ul>
          <div class="row justify-content-center mt-3">
            <div class="col-9">
                <form action="/explore" method="POST" id="form">  {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" name="searchQuery" class="form-control" placeholder="Explore listings" aria-label="Explore listings" aria-describedby="basic-addon2" id="searchQuery">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="search">
                                <i class="bi-search"></i>
                            </button>
                          </div>
                      </div>
                </form>
            </div>
        </div>
        {% for listing in listings %}
        <div class="card m-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-9" style="padding-right: 0%;">
                                <h6>{{ listing.street_address }}</h6>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <p><i class="fas fa-dollar-sign" style="padding-right: 5px;"></i>{{ listing.monthly_price }}/mo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 my-auto">
                        <img src="{{ listing.image_url }}" alt="Card image cap" width="100%">
                    </div>
                </div>
                <a href="/explore/{{ listing.pk }}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
        
    </div>
    <!-- <div class="container">
    </div> -->
</body>
</html>
