{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <p>FIND YOUR NEXT</p>
    <p>HOME!</p>

    <div>
        <a class="btn btn-primary" href="/login" role="button">Log In</a>
    </div>
    <div>
        <a class="btn btn-warning" href="/register" role="button">Register</a>
    </div>

</body>

</html>
