{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Create Listing</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{% static 'draw/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/084cdff28b.js" crossorigin="anonymous"></script>

    <style type="text/css">

        #add-photo-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 371px;
            height: 204px;

            background: #F2F2F2;
            border: 4px solid rgba(163, 163, 163, 0.28);
            box-sizing: border-box;
            border-radius: 24px;
        }
    </style>

</head>
<body>
    <div class="container mt-3 mb-3" >
        <ul class="nav nav-pills justify-content-left" style="margin: 0;">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/listings" style="padding: 0;">
                    <h1><i class="bi-arrow-left-short" style="color: black"></i></h1>
                </a>
            </li>
        </ul>
        <div class="row justify-content-left" style="padding-left: 20px; border-bottom: 1.5px solid; margin-bottom: 30px; padding-top: 10px;">
            <div class="col-9" >
                <h6>Create New Listing</h6>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 30px; padding-top: 10px;">
            <div id="add-photo-box">
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <div style="display: flex; flex-direction: row; justify-content: center;"><i class="bi-camera" style="color: black; opacity: 50%; font-size: 70px;"></i></div>
                    <h4 style="opacity: 50%;">Add Photos</h4>
                </div>
            </div>
        </div>
        <form method="POST" action="" class="pb-5">
            <!-- {{form}} -->
            {% csrf_token %}
            <div class="row justify-content-left" style="margin-bottom: -15px; padding-top: 10px; padding-left: 55px;">
                <h5>Address:</h5>
            </div>
            <div class="row justify-content-left" style="margin-bottom: 30px; padding-top: 10px; padding-left: 55px; padding-right: 55px;">
                {{form.street_address}}
                <!-- <input style="width: 100%;"> -->
            </div>
            <div class="row justify-content-left" style="margin-bottom: -15px; padding-top: 10px; padding-left: 55px;">
                <h5>Rent:</h5>
            </div>
            <div class="row justify-content-left" style="margin-bottom: 30px; padding-top: 10px; padding-left: 55px; padding-right: 55px;">
                <!-- <input style="width: 100%;"> -->
                {{form.monthly_price}}
            </div>
            <div class="row justify-content-left" style="margin-bottom: -15px; padding-top: 10px; padding-left: 55px;">
                <h5>Description:</h5>
            </div>
            <div class="row justify-content-left" style="margin-bottom: 30px; padding-top: 10px; padding-left: 55px; padding-right: 55px;">
                <!-- <textarea style="width: 100%; height: 20vh;"></textarea> -->
                {{form.description}}
            </div>
            <button type="submit" class="nav-item " style="background-color: #74B5E5;margin: 20px; border-radius: 10px; border-width: 0; width: 92%;">
                <a type="submit" aria-current="page" href="/listings/create" style="padding: 0;">
                    <h5 style="color: white; text-align: center; line-height: 55px;">Post Listing</h5>
                </a>
            </button>
        </form>




        
    </div>
    <nav class="navbar center fixed-bottom navbar-light mt-5 dark">
		<div class="container">
			<div class="d-flex flex-column w-100">
				<div class="row justify-content-center">
                    <div class="col text-center">
                        <a class="btn" href="/"><i class="fas fa-home nav"></i></a>
                    </div>
                    <div class="col text-center">
                        <a href="/messages" class="btn"><i class="fas fa-envelope nav"></i> </a>		
                    </div>
				</div>
			</div>
	</nav>
</body>

</html>
