a.nav-link.active:after {
    content: '';
    height: 5px;
    background: #FFE487;
    display: block;
}
a.nav-link {
    background-color: white !important;
    color: black !important;
}
body {
    font-family: PT Sans Caption;
}
i.nav {
    font-size: 25px;
}
.navbar.fixed-bottom{
    border-top: 1px solid gray;
    background-color: white;
}